In [15]:
import pandas as pd
x = pd.Series([7,3,5,8], index=["서울",'대구','부산','광주'])
print(x.index)
print(x.values)
sorted(x.index)

Index(['서울', '대구', '부산', '광주'], dtype='object')
[7 3 5 8]

['광주', '대구', '부산', '서울']

In [17]:
print(x)
x.reindex(sorted(x.index))  #인덱스로 reindex

서울    7
대구    3
부산    5
광주    8
dtype: int64

광주    8
대구    3
부산    5
서울    7
dtype: int64

In [29]:
y = pd.Series([i for i in range(10,14)], index = x.index)

print(y)
y2 = y.reindex(index=("서울",'대구','부산','인천'))
print(x+y2)

서울    10
대구    11
부산    12
광주    13
dtype: int64
광주     NaN
대구    14.0
부산    17.0
서울    17.0
인천     NaN
dtype: float64

In [87]:
#dataframe
dict1 = {'name':['lee','kim','park'], 'age':[10,20,30], 'height':[120,130,150]}
df1 = pd.DataFrame(dict1,columns=['name','age','height'])
print(df1)
df1.iloc[0,:]

   name  age  height
0   lee   10     120
1   kim   20     130
2  park   30     150

name      lee
age        10
height    120
Name: 0, dtype: object

In [73]:
print(df1[df1.age>10])
print(df1.mean(axis=0))
print(df1.mean(axis=1))

   age  name  height  wow
1   20   kim     130  NaN
2   30  park     150  NaN
age        20.000000
height    133.333333
wow              NaN
dtype: float64
0    65.0
1    75.0
2    90.0
dtype: float64

In [ ]:
df1.index = df1.name
print(df1)

In [51]:
import pandas as pd
import numpy as np
a = pd.Series(['php', 'python', 'java', 'c#'])
f = lambda x : x.upper()
a = a.apply(f)

a2 = pd.Series(['_high', '_mid', '_low', '- mid'])
a + a2

df1 = pd.read_csv("도로교통공단_부문별_고속도로_교통사고_20181231.csv",encoding='CP949')
print(df1)
df1[['발생건수', '사망자수', '부상자수', '중상', '경상', '부상신고']].sum()

df2 = df1.sum().reindex(['발생건수', '사망자수', '부상자수', '중상', '경상', '부상신고'])
df2
df3 = pd.DataFrame(df1,columns=['발생건수', '사망자수', '부상자수', '중상', '경상', '부상신고'])
df3.sum()

     시도  시군구  발생건수  사망자수  부상자수  중상  경상  부상신고
0    서울  성북구     1     0     1   0   0     1
1    서울  강서구     1     0     2   1   1     0
2    서울  강남구     1     0     1   1   0     0
3    서울  강동구    37     1    85  10  60    15
4    서울  송파구    24     1    49   5  38     6
..   ..  ...   ...   ...   ...  ..  ..   ...
153  대전   서구     5     1    14   3  11     0
154  대전  유성구    26     2    52  20  32     0
155  대전  대덕구    21     2    34   9  24     1
156  울산  울주군    47     5    79  18  57     4
157  세종   세종     4     0     9   1   8     0

[158 rows x 8 columns]

발생건수    4079
사망자수     252
부상자수    8913
중상      1949
경상      6135
부상신고     829
dtype: int64